# Optional: ReCAPTCHA (contact form)
VITE_RECAPTCHA_SITE_KEY=

# Optional: AWS SES (contact form email)
VITE_SES_TO_EMAIL=
VITE_SES_FROM_EMAIL=
VITE_AWS_REGION=us-east-1
VITE_AWS_ACCESS_KEY_ID=
VITE_AWS_SECRET_ACCESS_KEY=
